.main {
    display: block;
    width: 600px;
    height: 400px;
    font-family: Georgia, serif;
    margin:auto;
    font-size: smaller;
    
}
h1 {
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-align: center ;
}
    
    
h2{
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    text-align: center;
    
}
p1{
    font-size: larger;
    text-align: left;

}
p2 {
    font-size: small;
    text-align: left;
}
    
img {
    display: block;
    margin: auto;
    
}


